.hidden {
	display: none !important;
}

a, a:visited {
	color: #00b;
}

.defined {
	text-decoration: underline;
}

/* see http://code.google.com/p/chromium/issues/detail?id=26152 */
html {
	width: 500px;
}

body {
	border: none;
	width: 500px;
}

#wrapper {
	background-color: #eee;
}

.scope-zone {
	height: 50px;
}

#scopeDisplay { float: left; line-height: 1em; text-overflow:ellipsis; height: 14px;margin-bottom: 3px; padding: 5px; font-size: 12px; width:100%; white-space: nowrap; overflow:hidden; }
#scopeDisplay { background: #FFF;}

.scopeLevels { list-style: none; clear: left; width: 100%; height: 22px; background-color: #ddd; }
.scopeLevel {float:left; position: relative; display:block; cursor:pointer; color:#222; padding: 0 10px 0 16px; background-color:#DDD; margin: 0; font-size: 16px; line-height: 22px; }
.scopeLevel:first-child{ padding-left: 6px; }
.scopeLevel:after{ content: " "; width: 0; height: 0; display:block; position:absolute; right:-11px; top:0; border-top: 11px solid transparent; border-bottom: 11px solid transparent; border-left: 11px solid #DDD; z-index: 100; }
.scopeLevel:hover{ color: #111; background-color: #BBB; }
.scopeLevel:hover:after{ border-left: 11px solid #BBB!important; }

.scopeLevel.active:hover{ color: white; background-color: #68E; }
.scopeLevel.active:hover:after{ border-left: 11px solid #68E!important; }

.scopeLevel.active { background: #68E; text-decoration: none; color: #FFF; }
.scopeLevel.active:after{ border-left: 11px solid #68E; }
.scopeLevel:nth-child(n+2):before{ content:" "; display:block; position:absolute; left:1px; top:0; border-top: 11px solid transparent; border-bottom: 11px solid transparent; border-left: 11px solid #EEE; width:0; height:0; z-index: 50; }

.tabs-zone {
  border-bottom: 1px solid #bbb;
}

.tabs-zone ul {
  list-style: none;
  font-size: 0;
  margin-bottom: -1px;
  margin-left: 12px;
  display: inline-block;
  vertical-align: top;
}

.tabs-zone li {
  display: inline-block;
  vertical-align: bottom;
  color: #888;
  background: #ddd;
  cursor: pointer;
  border: 1px solid #bbb;
  font-size: 16px;
  line-height: 20px;
  padding: 0 8px;
  margin-right: -1px;
}

.tabs-zone li.active {
  cursor: default;
  color: black;
  line-height: 22px;
  background: #eee;
  border-bottom-color: #eee;
}

.tabs-zone .manage-links {
  float: right;
  display: inline-block;
  vertical-align: middle;
  padding-right: 12px;
}

.tabs-zone .manage-links a {
  font-size: 14px;
}

.arena-zone {
  padding: 8px 0;
  overflow-y: auto;
}

.arena-zone textarea {
  resize: none;
  border: none;
  display: block;
  padding: 4px;
  box-sizing: border-box;
  font-family: Monaco, "Lucida Console", monospace;
  width: 100%;
  box-shadow: 0 0 3px #666;
  height: 300px;
}

.arena-zone textarea.small {
  height: 100px;
}

.arena-zone select[multiple] {
  display: block;
  border: none;
  font-size: 12px;
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
}

/*body iframe{ border: 0; }

#arena > * { border: 1px solid #CCC; background: #FFF; width: 96%; margin: 27px 2% 0px 2%; border-radius: 6px; }
.codeMirror  { height: 200px; }
#editLibs { background: #eee; padding: 2%; width: 92%; }
#libsList { resize: none; display: block; margin-top: 1em; width: 100%; height: 167px; border: 1px solid #bbb; border-radius: 4px; }*/

#save {
  margin: 2px 0 10px 12px;
  cursor: pointer;
}
