.hidden {
  display: none !important;
}

body {
  margin: 1em;
  font-family: "Helvetica Neue", Helvetica;
}

#controls {
  margin: 1em 0;
}

label {
  display: block;
  font-size: 14px;
  margin: 4px 0;
  -webkit-user-select: none;
}

h1 {
  color: #333;
  font-size: 2em;
  font-weight: 100;
}

a,a:visited {
  color: #00b;
}

#quota {
  font-weight: bold;
}

/* Template Styles */
.template { display: none; }

li {
  margin: 0 0 0.5em;
  display: block;
  width: 640px;
  box-sizing: border-box;
}

li h3 {
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 540px;
}

li h3 a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

li h3 span.scriptType {
  font-size: x-small;
  background: #cfc;
  padding: 2px;
}

li .manage-links {
  display: inline-block;
  vertical-align: top;
  float: right;
}

li pre {
  display: block;
  border-radius: 3px;
  margin-top: 8px;
  background: #ccc;
  max-height: 160px;
  overflow: auto;
}

li pre code {
  display: block;
  font-family: Monaco, "Lucida Console", monospace;
  font-size: .75em;
  color: #333;
  box-sizing: border-box;
  padding: 10px;
  white-space: pre-wrap;
}

li a.delete, li a.preview {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  padding: 3px 9px;
  line-height: 16px;
  background-color: #EEE;
  border-radius: 3px;
  text-decoration: none;
}

li a.delete:hover, li a.preview:hover{ background-color:#b2b2b9; }
li a.delete {color: #B33;}

