{{#tweaks}}
  <li data-key="{{key}}">
    <h3>
      <span class="scriptType">{{type}}</span>
      {{{scope}}}
    </h3>
    <div class="manage-links">
      <a class="delete" href="">{{listDelete}}</a>
    </div>

    <pre><code class="{{highlight}}">{{{text}}}</code></pre>
  </li>
{{/tweaks}}
