<h1>{{listWindowTitle}}</h1>

<div id="controls">
  <label>
    <button id="clear">{{listClearTweaks}}</button>
  </label>
  <label id="sync-option">
    <input type="checkbox" id="sync"> {{listSyncTweaks}}
  </label>
  <label id="inject-option">
    <input type="checkbox" id="inject"> {{listInjectType}}
  </label>
</div>

<ul id="scripts"></ul>
